@import 'styles/shared.scss';

.briefBox {
  width: 230px;
  height: 286px;

  background-color: $lightGray1;
  border: 2px solid $white;
  border-radius: 22px 22px 22px 0px;

  @include desktop {
    position: absolute;
    top: 285px;
    right: 130px;
  }
}

.briefList {
  width: 230px;
  height: 283px;

  border: 2px solid $white;
  border-radius: 22px 22px 22px 0px;
}

.briefListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 230px;
  height: 40px;
  padding: 15px 22px;

  border-bottom: 2px solid $white;
}

.briefListItemHeader {
  @include fontProperty($weight: 700, $transform: uppercase);
}

.briefListText {
  @include fontProperty($transform: uppercase, $text-align: left);
}

.briefListItem:last-child {
  border-radius: 22px 22px 22px 0px;
}
