@import 'styles/shared.scss';

.chartBox {
  width: 100%;

  @include tablet {
    order: 6;
    width: 670px;
    max-width: none;
    height: 425px;
    padding: 50px 5px 50px 5px;
    background-color: $white;
    border-radius: 30px;
    box-shadow: $shadowProductFormBox;
  }

  @include desktop {
    width: 100%;
    padding: 20px 150px 20px 150px;
  }
}
