$black: #000000;
$white: #ffffff;
$red: #eb5757;
$red1: #e7192e;
$blue: #1d346a;
$green: #407946;
$lightGray1: #f5f6fb;
$lightGray2: #f6f7fb;
$lightGray3: #fefefe;
$lightGray4: #fafbfd;
$lightGray5: #f6f7fc;
$lightGray6: #c7ccdc;
$darkGray: #52555f;
$orange: #ff751d;
$orangeLight: #ffdac0;
