$btnShadowActive: 0px 10px 60px rgba(170, 178, 197, 0.2);
$btnShadowNormal: 0px 10px 60px rgba(170, 178, 197, 0.2);
$backgroundBoxBalance: linear-gradient(
  117.84deg,
  #1d346a 2.84%,
  #031634 67.28%
);
$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
