@import 'styles/shared.scss';

.reportIncomesPageBox {
  display: block;
  position: relative;
  justify-content: center;
  width: 100%;
  padding: 15px 19px 50px 19px;

  min-height: calc(100vh - 60px);
  @include mobile() {
    background: url(../../images/img/auth-page/auth_page-bg-mobile.png);
    background-repeat: no-repeat;
    background-position: 0px -56px;
  }

  @include tablet() {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 40px 50px;

    background: url(../../images/img/auth-page/auth_page-bg-tablet.png),
      url(../../images/img/auth-page/auth_page-small_cabbage-desktop.png);
    background-position: 0px -56px, 500px 1000px;
    background-repeat: no-repeat;
  }

  @include desktop {
    padding: 40px 110px 75px 110px;

    background: url(../../images/img/auth-page/auth_page-bg-desktop.png),
      url(../../images/img/auth-page/auth_page-cabbage-desktop.png);
    background-position: 0px -56px, 0 660px;
    background-repeat: no-repeat;
  }
}

.goBackBox {
  @include tablet() {
    order: 1;
    display: flex;
    align-items: center;

    margin-right: 72px;
  }

  @include desktop() {
    margin-right: 193px;
  }
}
