@import 'styles/shared.scss';

.goBackLinkBox {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-bottom: 15px;

  @include tablet() {
    display: none;
  }
}

.goBackLink {
  display: flex;
  align-items: center;

  width: 24px;
  height: 24px;
}

.goBackLinkIcon {
  width: 18px;
  height: 12px;
}
